@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --dark-color: #111;
    --light-dark-color: #222;

    --light-color: #f5f5f5;
    --light-light-color: #8f8f8f;

    --light-stroke-color: rgba(219, 219, 219, .1);
}

* {
    box-sizing: border-box !important;
}

h1,h3,h4,h5,h6,h6,p,a {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

.mx-350 {
    max-width: 650px !important;
    margin: auto !important;
}


/* BOOTSTRAP */
.bg-dark{
    background-color: var(--dark-color) !important;
}
.bg-light-dark{
    background-color: var(--light-dark-color) !important;
}
.bg-red {
    background-color: red !important;
}

.border-light-light {
    border: 1px solid var(--light-stroke-color) !important;
}

.text-light {
    color: var(--light-color) !important;
}
.text-light-light {
    color: var(--light-light-color) !important;
}

.btn-primary {
    background-color: transparent !important;
    border: 1px solid var(--light-color) !important;
}

.navbar a:hover {
    border-bottom: 1px solid var(--light-color) !important;
}

/* --------------------------------------------- */

body {
    font-family: "Poppins", sans-serif;
}

.header-intro {
    padding:20vh 0 10vh 0 ;
}
.project-header-intro {
    padding:20vh 0 1vh 0 ;
}

.work-items {
    max-width: 1200px;
    margin: 0 auto;
}

.work-item {
    background-color: red;
    width: calc(50% - 60px);

    margin-bottom: 100px;
}
.work-item-image {
    border-radius: 24px;
    overflow: hidden;
    height: 640px;
    transition: all .8s cubic-bezier(0.2, 0.6, 0.2, 1);
}

.work-item-image:hover {
    transform: scale(.95);
    transition: all .8s cubic-bezier(0.2, 0.6, 0.2, 1);
}

.work-item-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .8s cubic-bezier(0.2, 0.6, 0.2, 1);
}

.work-item:hover img {
    transform: scale(1.1);
    transition: all .8s cubic-bezier(0.2, 0.6, 0.2, 1);
}

.work-item:nth-child(2n-2) {
    position: relative;
    top: 200px;
}
.work-item:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    .work-item-image {
        height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .work-item {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .work-item:nth-child(2n-2) {
        top: 0;
    }
}


.quick-about-me {
    padding-top:25vh;
}
.quick-about-me p {
    font-size: 18px;
    line-height: 160%;
}

.quick-about-me a:hover {
    text-decoration: underline !important;
}

footer {
    margin-top: 25vh;
}
footer p {
    font-size: inherit;
}




/* ------------------------------------- */
header {
    min-height: 100vh;
    position: relative;

    overflow: hidden;
}


header {
    background-color: var(--dark-color); /* Fallback color for browsers that do not support gradients */
    background-image: linear-gradient(to top right,
        var(--dark-color),
        var(--dark-color),
        #0A0A0A,
        var(--dark-color),
        rgba(54, 54, 54, 0.05),
        var(--dark-color),
        #000
    )
}



.project {
    width: 350px;
}
.project-image {
    border-radius: 24px;
    overflow: hidden;
    height: 350px;
}
.project-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .8s cubic-bezier(0.2, 0.6, 0.2, 1);
}
.project-image:hover img {
    transform: scale(1.1);
    transition: all .8s cubic-bezier(0.2, 0.6, 0.2, 1);
}


/* ... */
.about-me-image {
    border-radius: 24px;
    overflow: hidden;
    position: relative;

    width: 370px;
    height: 550px;

    border: 2px solid var(--light-stroke-color);
}

.about-me-image img {
    display: block;
    width: 85%;
    height: 85%;
    object-fit: cover;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
    .about-me .right {
        max-width: 350px;
    }
    .about-me .left {
        flex: 1;
    }
}


@media (min-width: 990px) {
    .navbar-toggler {
        display: none !important;
    }
}
@media (max-width: 990px) {
    .resume-parent {
        margin-top: 30px;
    }
}




.spacing {
    padding: 15vh 0;
}
.spacing:last-of-type {
    padding-top: 15vh;
    padding-bottom: 0;
}

nav .active {
    color: var(--light-color) !important;
}


.navbar {
    background: rgba(0, 0, 0, 0.1); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
}

.nav-tabs {
    --bs-nav-tabs-border-color: var(--light-light-color) !important;
}

.nav-tabs button {
    background-color: transparent !important;
    color: var(--light-color) !important;
}

.nav-tabs button.active {
    border-color: var(--light-light-color) !important;
}


nav ul {
    list-style-type: none;
    margin: 0;
}


.animation-bg {
    white-space: nowrap;

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);

    font-size: 720px;
    color: transparent;
    -webkit-text-stroke: 1px var(--light-stroke-color);

    cursor: default;
}

.flex-list li {
    flex: 1 0 50%; /* Adjust the basis to control the width of items */

    list-style: none;
    position: relative;
    padding-left: 20px; /* Adjust this value as needed */
}
.flex-list li::before {
    content: '•'; /* Unicode for a bullet */
    color: var(--light-color); /* Change this to your desired color */
    position: absolute;
    left: 0;
    font-size: 1.2em; /* Adjust size as needed */
    line-height: 1;
}


/* ----------- ABOUT PAGE */
.projects .project {
    border-radius: 10px;
}
.projects .project-image {
    position: relative;
    border: 1px solid var(--light-stroke-color);
}
.projects .project-info {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px 30px;
}
.projects .project-info i {
    background-color: var(--dark-color);
    border: 1px solid var(--light-light-color);
    padding: 10px;

    border-radius: 10px;
}

.fa-code {

}
.fa-pen-nib {
    color: green;
}
.fa-robot {
    color: green;
}


#project-section input,
#project-section label {
    cursor: pointer;
}

#project-section input[type="checkbox"]:checked {
    border-color: var(--light-light-color);
}

#project-section input[type="checkbox"] {
    background-color: transparent;
}



/* ------------------ */




